<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Manage Template</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="templateForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            id="title"
            formControlName="title"
            class="form-control"
            type="text"
          />
        </div>
        <div class="form-group">
          <label for="subtitle">Subtitle</label>
          <input
            id="subtitle"
            formControlName="subtitle"
            class="form-control"
            type="text"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            id="description"
            formControlName="description"
            class="form-control"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="logoSrc">Logo Source</label>
          <input
            id="logoSrc"
            formControlName="logoSrc"
            class="form-control"
            type="text"
          />
        </div>
        <div class="form-group">
          <label for="rectorName">Rector Name</label>
          <input
            id="rectorName"
            formControlName="rectorName"
            class="form-control"
            type="text"
          />
        </div>
        <div class="form-group">
          <label for="rectorSignatureSrc">Rector Signature Source</label>
          <input
            id="rectorSignatureSrc"
            formControlName="rectorSignatureSrc"
            class="form-control"
            type="text"
          />
        </div>
        <button type="submit" class="btn btn-primary mt-3">Save</button>
      </form>
    </div>
  </div>
</div>
<br />
