<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Gestionar datos del template</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="templateForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="title"><strong>Título</strong></label>
          <input
            id="title"
            formControlName="title"
            class="form-control"
            type="text"
          />
        </div>
        <div class="form-group mb-3">
          <label for="subtitle"><strong>Subtitulo</strong></label>
          <input
            id="subtitle"
            formControlName="subtitle"
            class="form-control"
            type="text"
          />
        </div>
        <div class="form-group mb-3">
          <label for="description"
            ><strong>Mensaje para el profesor</strong></label
          >
          <textarea
            id="description"
            formControlName="description"
            class="form-control"
          ></textarea>
        </div>
        <div class="form-group mb-3">
          <label for="logoSrc"
            ><strong>Link del logo (Post Image)</strong></label
          >
          <input
            id="logoSrc"
            formControlName="logoSrc"
            class="form-control"
            type="text"
          />
        </div>
        <div class="form-group mb-3">
          <label for="rectorName"
            ><strong>Nombre del rector en turno</strong></label
          >
          <input
            id="rectorName"
            formControlName="rectorName"
            class="form-control"
            type="text"
          />
        </div>
        <div class="form-group mb-3">
          <label for="rectorSignatureSrc"
            ><strong
              >Link de la firma del rector en turno (Post Image)</strong
            ></label
          >
          <input
            id="rectorSignatureSrc"
            formControlName="rectorSignatureSrc"
            class="form-control"
            type="text"
          />
        </div>
        <button type="submit" class="btn btn-primary mt-3">
          Guardar cambios <i style="margin-right: 3px" class="fa fa-save"></i>
        </button>
      </form>
    </div>
  </div>
</div>
