<div class="container">
  <h2>Maestros registrados</h2>
  <br />
  <!-- Agregar modal -->
  <app-add-modal></app-add-modal>
  <!-- Renderizar lista de tareas -->
  <div class="row card-container">
    <!-- <div *ngFor="let task of tasks" class="card bg-light mb-3">
      <div class="card-body">
        <h4 class="card-title">{{ task.nombre }}</h4>
        <br />
        <div class="btn-group" role="group" aria-label="Botones de acción">
          <app-update-modal
            style="margin-right: 2px"
            [tarea]="task"
          ></app-update-modal>
          <app-delete-modal
            style="margin-right: 2px"
            [tarea]="task"
          ></app-delete-modal>
        </div>
      </div>
    </div> -->
  </div>
</div>
