<div class="container">
  <h2>Maestros registrados</h2>
  <br />
  <app-add-modal></app-add-modal>
  <hr />
  <div class="row card-container">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Birthdate</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let teacher of teachers">
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.name }}</td>
            <td>{{ teacher.email }}</td>
            <td>{{ teacher.phone }}</td>
            <td>{{ teacher.address }}</td>
            <td>{{ teacher.birthdate }}</td>
            <td>
              <div class="btn-group">
                <button
                  class="btn btn-primary"
                  (click)="openUpdateModal(teacher)"
                >
                  Editar
                </button>
                <button class="btn btn-danger">Eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
